
.alert {
    color: red;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border-color: tomato;
    background-color: thistle;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 14px;
}
body a{
    text-decoration: none;
}
input, textarea, select {
    padding: 8px;
    border-color:#bd980b;
    border-radius:5px;
    border-width:1px;
}
label {
    font-weight:bold;
    color:#695500
}
.boxGeral{
    width: 75%;
    float: left;
    padding-left:15px;
}
.topo {
    float: left;
    width: 100%;
}
.boxcontent {
    width: 100%;
    border: silver;
    border-style: solid;
    float: left;
    border-width: 1px;
    border-radius: 10px;
}
.boxcontent-child{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.boxMenu {
    float: left;
    width: 100%;
}
.box-menu-ativo {
    font-weight: bold;
    background-color: gold;
}
.boxMenu ul li{
    float: left;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
}
.menu1 {
    float: right;
    margin-right: 20px;
}

#primeiraLinha {
    background-color: #ffbe00;
    text-align: center;
    font-weight: bold;
}
#pos {
    background-color: #ffe068;
    text-align: center;
    font-weight: bold;
}
.cadastro {
    float: left;
    background-color: lawngreen;
    margin-left: 60px;
    padding: 10px;
}
.login {
    width: 30%;
    float: right;
    margin-top:10px;
}
.login a{
    color:#6d6666;
}
.logo1{
    font-style: italic;
    color: grey;
    font-size: 12px;
    float: left;
    width:30%;
    margin-top:15px;
    margin-left:15px;
}
.rankingPadrao{
    float: right;
    width: 23%;
}
.tb-div {
    float: left;
    width:100%;
}

.tb-rankp {
    width:100%;
    padding-right:10px;
}
.tb-rankp td {
    padding: 5px;
    border-color: rgb(243, 230, 186);
    border-style: solid;
    border-width:1px;
    margin: 0px;
}
.tb-rankp tr:nth-child(even) {
    background-color: rgb(243, 241, 241);
}
.tb-rankp tr:nth-child(odd) {
    background-color: #fff;
}
#tbru {
    background-color:#ffcf00;
    color:black;
    font-weight:bold;
}
#alltb{
    width:100%;
}
#alltb th{
    background-color:#ffcf00;
    color:black;
    font-weight:bold;
}
#alltb td,#alltb th{
    border-style:solid;
    border-width:1px;
    border-color:rgb(212, 212, 212);
    margin:0px;
    padding:5px;
}
#alltb tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}
#alltb tr:nth-child(odd) {
    background-color: #fff;
}
.livros {
    float: left;
    margin-right: 15PX;
    height: 350px;
    width: 200px;
}
.livros img {
    width: 150px;
    float:left;
    margin-bottom: 10px;
}
.livros p {
    margin-top: 2px;
    margin-bottom: 2px;
}
.infor {
    float:left;
    width:100%;
}
.infor a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.position {
    background-color:gold;
    float:left;
    height:50px;
    text-align:center;
    padding-left:5px;
    padding-right: 5px;
    padding-top: 20%;
    border-radius: 10px 0px 0px 10px;
    font-weight:bold;
}

.rodape {
    width: 100%;
    float: left;
}
.bookinfor img {
    width: 250px;
    float: left;
    margin-right: 20px;
}
.iniciar-rt {
    float: right;
}

.time-rt{
    display: block;
}
.cadastrobook {
    float: left;
    width: 100%;
}
.cadastrobook input{
    width: 700px;
}
.cadastrobook textarea {
    width: 600px;
    height: 150px;
}
.sucessos, .errors{
    position:fixed;
    padding:20px;
    width:35%;
    z-index:1000;
    top:0%;
    left: 30%;
}
.errors{

    background-color:#f8aba8;
    color:red;
    font-weight:30px;
}
.sucessos{
    
    background-color:#00FF7F;
    color:#006400;
    font-weight:30px;
}
.dash{
    width: 100%;
    display: table;
    flex-direction: row;
    justify-content:center;
    margin-top: 10px;
}
.dash h2{
    width:100%;
    display:table-row;
    height:30px;
}
.dashMenu{
    float: left;
    width:300px;
    height:100%;
}
.dashPainel{
    width: 60vw;
    border-style: solid;
    border-radius: 10px;
    float:left;
    padding:20px;
   
}
.paineluser-inicio table{
    font-size:12px;
    width:100%;
}

#tbu th {
    background-color:#ffcf00;
    color:black;
    font-weight:bold;
    text-align:center;
}

.bton{
    background-color: rgb(33, 107, 204);
    color: white;
    border-color:blue;

}
.btoff{
    background-color: rgb(255, 255, 255);
    color: blue;
    border-color:blue;
}
.bton2{
    background-color: rgb(210, 101, 101);
    color: white;
    border-color:rgb(210, 101, 101);
}
.btoff2{
    background-color: rgb(255, 255, 255);
    color: rgb(184, 7, 7);
    border-color:rgb(210, 101, 101);
        
}
.topic-msgs ul{
    list-style:none;
    padding:0px;
    margin-left:20px;
}
.topic-msgs li{
    width:100%;
}
.likes-complaints button{
    cursor: pointer;
    border-width:1px;
    padding:2px 10px 2px 10px;
    font-size:11px;
    border-style: solid;
}
.likes-complaints img{
    width:12px;
}
.communit-topics h3{
    margin: 10px 0px 3px 0px;
}